
{% load static %}
{% load i18n %}

<html lang="en">
  <head>
    <title>Tweet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
      .red-color{
        color: red;
      }
      .grey-color{
        color: #ccc;
      }
    </style>

  </head>

  <body>
    {% include "navbar.html" %}

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    {% include "reply-modal.html" %}

    <script>
      function getParameterByName(name, url) {
          if (!url) url = window.location.href;
          name = name.replace(/[\[\]]/g, '\\$&');
          var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
              results = regex.exec(url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, ' '));
      }

      function loadTweetContainer(tweetContainerId, fetchOneID){
        var query = getParameterByName('q');
        var tweetList = [];
        var nextTweetUrl;
        var tweetContainer;
        if(tweetContainerId){
          tweetContainer = $("#" + tweetContainerId)

        }else{
          tweetContainer = $("#tweet-container")
        }
        var initailURL = tweetContainer.attr("data-url") || "/api/tweet/";

        $(document.body).on("click", '.tweet-like', function(e){
          e.preventDefault()
          var this_ = $(this)
          var tweetId = this_.attr("data-id")
          var likedUrl = "/api/tweet/" + tweetId + "/like"
          // this_.text("Liked")
          $.ajax({
            method: "GET",
            url: likedUrl,
            success: function(data){
              if(data.liked){
                this_.text("Liked")
              }else{
                this_.text("Unliked")
              }
            },
            error: function(data){
              console.log("error")
            }
          })
        })

        $(document.body).on("click", ".tweetReply", function(e){

          e.preventDefault()
          var this_ = $(this)
          var parentId = this_.attr("data-id")
          var username = this_.attr("data-user")
          var content = this_.parent().parent().find(".content").text()
          $("#replyModal").modal({})

          $("#replyModal textarea").after("<input type='hidden' value='" + parentId + "' name='parent_id'/>")
           $("#replyModal textarea").after("<input type='hidden' value='" + true + "' name='reply'/>")
          $("#replyModal textarea").val("@" + username + " ")
          $("#replyModal #replyModalLabel").text("Reply to " + content)
          $("#replyModal").one("shown.bs.modal", function(){
            $("textarea").focus()

          })

        })

        $(document.body).on("click", ".retweetBtn", function(e){
          e.preventDefault()
          var url = "/api" + $(this).attr("href")
          $.ajax({
            method: "GET",
            url: url,
            success: function(data){
              if(initailURL){
                attachTweet(data, true, true)
                updateHasLinks()
              }
            },
            error: function(data){
              console.log("error")
            }
          })
        })

        function updateHasLinks(){
          $(".media-body").each(function(data){
            var hastagRegex = /(^|\s)#([\w\d-]+)/g
            var usernameRegex = /(^|\s)@([\w\d-]+)/g
            var currentHtml = $(this).html()
            var newText;
            newText = currentHtml.replace(hastagRegex, "$1<a href='/tags/$2/'>#$2</a>") 
            newText = newText.replace(usernameRegex, "$1<a href='/$2/'>@$2</a>") 
            $(this).html(newText)

          })
        }

        function formatTweet(tweetValue){
          var preContent ;
          var container ;
          var tweetContent ;
          var isReply = tweetValue.reply ;
          
          if(tweetValue.parent && !isReply){

            tweetValue = tweetValue.parent
            preContent = "<span class='grey-color'>Retweet via " + tweetValue.user.username +" on " + tweetValue.date_display + "</span> <br/> "

          }else if(tweetValue.parent && isReply){

            preContent = "<span class='grey-color'>Reply to @ " + tweetValue.parent.user.username +" </span> <br/> "
          }

          var verb = 'Like';
          if(tweetValue.did_like){
            verb = 'Unlike'
          }

          tweetContent = "<span class='content'>" + tweetValue.content + "</span><br/>via <a href='" + tweetValue.user.url +"'>" + tweetValue.user.username + "</a> | " + tweetValue.date_display + " | " + "<a href='/tweets/" + tweetValue.id +"'> View </a>" + "<a class='retweetBtn' href='/tweet/" + tweetValue.id + "/retweet'>| Retweet </a>" + " | <a href='#' class='tweet-like' data-id='" + tweetValue.id + "''>" + verb + " (" + tweetValue.likes + ") </a>" + " | <a href='#' class='tweetReply' data-user='" + tweetValue.user.username  +" ' data-id='" + tweetValue.id + "''>Reply</a>"

          if(preContent){

            container = "<div class=\"media\"><div class=\"media-body\"> "+ preContent + " "+ tweetContent + " </div></div><hr/>"

          }else{
            container = "<div class=\"media\"><div class=\"media-body\">"+ tweetContent + " </div></div><hr/>"
          }
          return container
        }

        function attachTweet(tweetValue, prepend, retweet){

          tweetFormattedHtml = formatTweet(tweetValue)

          if (prepend==true){
            tweetContainer.prepend(tweetFormattedHtml)
          }
          else{
            tweetContainer.append(tweetFormattedHtml)
          }
          
        }
        
        function parseTweets(){
          if (tweetList == 0){
            tweetContainer.text("No tweets curently found.");
          }
          else{
            $.each(tweetList, function(key, value){
              var tweetKey = key;
              if (value.parent){
                attachTweet(value, false, true);
              }else{
                attachTweet(value);
              }
            })

          }
        }
        // fonction pour le raffraichessement automatique dans la liste des tweets
        function fetchTweets(url){
          var fetchUrl;
          if(!url){
            fetchUrl = initailURL
          }else{
            fetchUrl = url
          }

          $.ajax({
            url: fetchUrl,
            method:"GET",
            data: {
              'q': query
            },
            success: function(data){
              tweetList = data.results;
              if(data.next){
                nextTweetUrl = data.next;
              }else{
                $("#loadmore").css("display", "none")
              }
              
              parseTweets();
              updateHasLinks();
            },
            
          });
        }

        function fetchSingle(fetchOneID){
          var fetchDetailUrl = '/api/tweet/' + fetchOneID + '/' ;

          $.ajax({
            url: fetchDetailUrl,
            method:"GET",
            success: function(data){
              tweetList = data.results ;
              console.log(data)
/*              if(data.next){
                nextTweetUrl = data.next;
              }else{
                $("#loadmore").css("display", "none")
              }*/
              
              parseTweets();
              updateHasLinks();
            },
            
          });
        }
        if(fetchOneID){
          fetchSingle(fetchOneID)
        }else{
          fetchTweets()
        }
        
        $("#loadmore").click(function(event){
          event.preventDefault()
          if(nextTweetUrl){
            fetchTweets(nextTweetUrl)
          }

        })
        // pour le nombre de caracter à saissir (140 max)
        var charsStart = 140;
        var charsCurent = 0;

        $(".tweet-form").append("<span class='tweetCharsLeft' style='margin-left:20px;' >" + charsStart + " </span>")

        $(".tweet-form textarea").keyup(function(event){
          var tweetValue = $(this).val()
          charsCurent = charsStart - tweetValue.length;
          var spanChars = $(this).parent().parent().parent().find("span.tweetCharsLeft");
          spanChars.text(charsCurent);

          if(charsCurent > 0){
            spanChars.removeClass("grey-color")
            spanChars.removeClass("red-color")
          }else if(charsCurent == 0){
            spanChars.addClass("grey-color")
            spanChars.removeClass("red-color")
          }else if(charsCurent < 0){
            spanChars.addClass("red-color")
            spanChars.removeClass("grey-color")

          }
        })
        // pour controler le send et faire un affichage automatique dans la liste des tweet
        $(".tweet-form").submit(function(event){
          event.preventDefault()
          var this_ = $(this)
          var formData = this_.serialize()

          if (charsCurent >= 0){

            $.ajax({
              url:"api/tweet/create/",
              data: formData,
              method:"POST",
              success: function(data){
                this_.find("input[type=text], textarea").val("")
                attachTweet(data, true)
                updateHasLinks()
                $("#replyModal").modal("hide")
              },
              error: function(data){
                console.log(data.statusText)
              }
              
            });
          }else{
            console.log("cannot send your message");
          }
        })
      }
    </script>
    <!-- Scripts -->
    {% block script %}
    {% endblock script %}

    <script>
      $(document).ready(function(){
        var typingTimer;
        var doneInterval = 800 ;
        var serachInput = $("#navbar-search-form input[type=text]");
        var searchQuery;

        serachInput.keyup(function(event){
          searchQuery = $(this).val();
          clearTimeout(typingTimer);
          typingTimer = setTimeout(doneSearchTyping, doneInterval);

        })

        serachInput.keydown(function(event){
          clearTimeout(typingTimer);
          console.log(event.key)

        })

        function doneSearchTyping(){
          if (searchQuery){
            var url = '/?q=' + searchQuery;
            document.location.href = url ;

          }
        }
      })

    </script>

<!--     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script> -->
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

  </body>

</html>



