
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'list' %}">Africa</a>
    </div>
    <div class="nav navbar-nav">
        <form id="navbar-search-form" class="navbar-form navbar-left" method="GET" action="{% url 'search' %}">
            <div class="form-group">
              <input class="form-control" type="text" name="q" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
            </div>
          <button class="btn btn-default" type="submit">Search</button>
        </form>
      </div>
    <ul class="nav navbar-nav navbar-right">
      {% if request.user.is_authenticated %}

      <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> {{ request.user.username }}</a></li>
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

      {% else %}
      <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>