{% extends "base.html" %}
{% load recommended %}

{% block script %}

<script>
	$(document).ready(function(){
		loadTweetContainer("tweet-container")
	});
</script>

{% endblock script %}

{% block content %}
<div class="col-sm-3" style="">
	<h1>{{ object.username }}</h1>
	<span> followers: {{ object.followed_by.count }}</span>
	<p>
		<a class="btn btn-link" href='{{ object.profile.get_following_url }}'>
			{% if following %}Unfollow {% else %} follow {% endif %}
		</a>
	</p>
	<hr/>
	<h3>Followed by</h3>
	{% for profile in object.followed_by.all %}
	<a href='/profiles/{{profile.user.username}}'>{{ profile.user.username }}</a><br/>
	{% empty %}
	<h4>Not followed by any user</h4>
	{% endfor %}
	<hr/>
</div>

<div class="col-sm-9">
	<h1>Tweets</h1>
	<div id="tweet-container" data-url='/api/{{ object.username }}/tweet'>
	</div>
	<a href="" id="loadmore">Voir plus de tweets</a>

</div>

{% endblock %}